#cd {
	padding-left: auto;
}


/*HOMEPAGE UPPER*/
h1 {
  color: pink;
  font-family: verdana;
  font-size: 300%;
  margin-top: 30;
}
ul {
  list-style-type: none;
  margin: 10;
  padding: 0px;
  overflow: hidden;
  background-color: pink;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
 font-size:20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.active{
background-color: soft blue;
color: white;
}
li a:hover {
  background-color: orange;
  color: white;
}

/* Meet the team*/
/* Three columns side by side */
.column {
  float: left;
  width: 20%;
  margin-left:120px;
  margin-bottom:10px;
  padding: 10px;
  background-color: #FFFFFF;
  margin-right:10px;

}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 50%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #555;
}
body {background: linear-gradient(90deg, rgb(254, 241, 245) 0%, rgb(228, 239, 251) 100%);}




/** SLIDE RANGE STYLE*/


.slidecontainer {
  width: 100%;
  text-align:center;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;


}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}



/*text align*/
  .right {
        text-align: right;
      }
      .left{
        text-align: left;
      }












      /*TIMELINE DESIGN*/
      .Yearly-timeline{ font-family: 'Poppins', sans-serif; }
              .Yearly-timeline:after{
                  content: '';
                  display: block;
                  clear: both;
              }
              .Yearly-timeline .timeline{
                  width: calc(50% + 5px);
                  padding: 0 30px 30px 0;
                  float: left;
                  position: relative;
              }
              .Yearly-timeline .timeline:before,
              .Yearly-timeline .timeline:after{
                  content: '';
                  height: 60px;
                  width: 2px;
                  border-left: 2px solid #70d6ff;
                  transform: rotate(-45deg);
                  position: absolute;
                  right: 30px;
                  bottom: 0;
              }
              .Yearly-timeline .timeline:after{
                  background-color: #fff;
                  height: 20px;
                  width: 20px;
                  border: 6px solid #70d6ff;
                  border-radius: 50%;
                  right: 0;
              }
              .Yearly-timeline .timeline-content{
                  color: #555;
                  background: #70d6ff;
                  text-align: center;
                  min-height: 170px;
                  padding: 30px 35px 35px;
                  border-radius: 15px 15px 0 15px;
                  display: block;
                  position: relative;
                  z-index: 1;
              }
              .Yearly-timeline .timeline-content:before{
                  content: '';
                  background-color: #fff;
                  position: absolute;
                  left: 17px;
                  right: 17px;
                  top: 17px;
                  bottom: 17px;
                  z-index: -1;
              }
              .Yearly-timeline .timeline-content:hover{ text-decoration: none; }
              .Yearly-timeline .timeline-icon{
                  color: #777;
                  font-size: 35px;
              }
              .Yearly-timeline .title{
                  font-size: 30px;
                  font-weight: 700;
                  letter-spacing: 2px;
                  text-transform: uppercase;
                  margin: 20px 0 8px;
              }
              .Yearly-timeline .description{
                  color: #777;
                  font-size: 13px;
                  font-weight: 400;
                  letter-spacing: 0.5px;
                  line-height: 18px;
                  margin: 0;
              }
              .Yearly-timeline .timeline:nth-child(even){
                  padding: 0 0 30px 30px;
                  float: right;
              }
              .Yearly-timeline .timeline:nth-child(even):before{
                  transform: rotate(45deg);
                  right: auto;
                  left: 30px;
              }
              .Yearly-timeline .timeline:nth-child(even):after{
                  right: auto;
                  left: 0;
              }
              .Yearly-timeline .timeline:nth-child(even) .timeline-content{ border-radius: 15px 15px 15px 0; }
              .Yearly-timeline .timeline:nth-child(4n+2):before,
              .Yearly-timeline .timeline:nth-child(4n+2):after{
                  border-color: #ff70a6;
              }
              .Yearly-timeline .timeline:nth-child(4n+2) .timeline-content{
                  background: #ff70a6;
              }
              .Yearly-timeline .timeline:nth-child(4n+3):before,
              .Yearly-timeline .timeline:nth-child(4n+3):after{
                  border-color: #ff9770;
              }
              .Yearly-timeline .timeline:nth-child(4n+3) .timeline-content{
                  background: #ff9770;
              }
              .Yearly-timeline .timeline:nth-child(4n+4):before,
              .Yearly-timeline .timeline:nth-child(4n+4):after{
                  border-color: #ffd670;
              }
              .Yearly-timeline .timeline:nth-child(4n+4) .timeline-content{
                  background:#ffd670;
              }
              @media screen and (max-width:767px){
                  .Yearly-timeline .timeline{
                      width: 100%;
                      padding: 30px 0 0 30px;
                      margin: 0 0 20px;
                  }
                  .Yearly-timeline .timeline:before,
                  .Yearly-timeline .timeline:nth-child(even):before{
                      transform: rotate(-45deg);
                      bottom: auto;
                      top: 0;
                      right: auto;
                      left: 30px;
                  }
                  .Yearly-timeline .timeline:after,
                  .Yearly-timeline .timeline:nth-child(even):after{
                      bottom: auto;
                      top: 0;
                      right: auto;
                      left: 0;
                  }
                  .Yearly-timeline .timeline-content,
                  .Yearly-timeline .timeline:nth-child(even) .timeline-content{
                      border-radius: 0 15px 15px 15px;
                  }
              }






     /*SLIDER DESIGN*/

                 /* Form styles */


                 .form-div {
                     max-width: 600px;
                     margin-left:400px;


                 }

                 .form-table {
                     width: 100%;

                 }

                 h2{
                 text-align: center;
                  color: #F8C471 ;
                   font-family: 'Raleway',sans-serif, bold;
                   font-size: 150%;
                 }

                 .slider {
                     -webkit-appearance: none;
                     width: 100%;
                     height: 5px;
                     background: #F8C471;
                     outline: none;
                     opacity: 0.7;
                     -webkit-transition: .2s;
                     transition: opacity .2s;
                     position: center;
                     
                 }

                 .slider:hover {
                     opacity: 1;
                 }

                 .slider::-webkit-slider-thumb {
                     -webkit-appearance: none;
                     appearance: none;
                     background: #264653;
                     width: 18px;
                     height: 18px;
                     cursor: pointer;
                     border-radius: 50%;

                 }

                 .slidercontainer {
                     width: 100%;
                     border: 0px solid black;

                 }

                 .slidercontainer td {
                     border: 0px solid black;
                     width: 45%;

                 }

                 .form-textinput {
                     border-radius: 10px;
                     font-size: 15px;
                     border: 1px solid #8C8C8C;
                     padding: 7px;

                 }

                 .submit {
                     color: white;
                 }

                 .submit:hover {
                     font-weight: bold;
                     border-radius: 50%;
                 }

                 .btn {
                     background-color: #F8C471;
                     font-size: 16px;
                     cursor: pointer;
                     height: 40px;
                     width: 140px;
                     border-radius: 12px;
                     border: none;

                 }

                 .btncontainer {
                     text-align: center;
                     width: 100%;
                 }

                 @keyframes fadeIn {
                     0% {
                         opacity: 0;
                     }
                     100% {
                         opacity: 1;
                     }
                 }

                 .svg-shadow {
                     -webkit-filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .3));
                     filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .3));
                 }

                       }


             </style>